/* HEADER PORTION */

body{
    width: 960px;
    margin: 30px auto;
}

header {
    width: 960px;
    height: 75px;
    border-bottom: 15px solid rgb(216, 214, 214);
    margin-top: 30px auto;
}

header h1 {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    font-style: italic;
}

header h2 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: gray;
}

header nav {
    float: right;
}

#title {
    display: inline-block;
}

nav {
    display: inline-block;
}

#spacedmedia {
    display: inline-block;
    margin-left: 5px;
}

/* MAIN BODY PORTION */ 

main {
    width: 960px;
    padding-top: 50px;
}

main h1 { 
    font-size: 50px;
    font-family: 'Impact', sans-serif;
}
main img{ 
    width: 960px;
}

main h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: grey;
    padding-bottom: 40px;
}

main ul {
    background-image: url(img/list-bg.png);
    column-count: 2;
    height: 200px;
    padding: 30px;
    line-height: 1.5;
    margin: 0px 20px;
}

main li {
    font-family: cursive;
    margin: 4px;
    color: rgba(102, 119, 71, 0.856);
}

main p {
 color: grey;
 padding-top: 10px;
 text-indent: 30px;
 padding-bottom: 10px;
 width: 960px;
}

.crossed{
    text-decoration: line-through;
}

/* FOOTER PORTION */

footer {
    width: 960px;
    height: 500px;
    border-top: 15px solid rgb(216, 214, 214);
    font-family: 'Roboto Slab', serif;
}

footer img {
    float: left;
    margin-right: 18px;
    margin-top: 20px;
}

footer h2 {
    font-size: 24px;
    margin-top: 20px;
}

footer p { 
    font-size: 16px;
    width: 725px;
    margin-top: 15px;
}